<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>1C136C19-D9C9-4906-997A-67DBBEB199E6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>Search GitHub for '{query}'</string>
			<key>url</key>
			<string>https://github.com/search?q={query}&amp;type=repositories</string>
		</dict>
		<key>24A80B55-56E4-4758-A212-395BB26D4FEF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>t</string>
			<key>text</key>
			<string>Translate "{query}" from Auto to English</string>
			<key>url</key>
			<string>https://translate.google.com/?sl=auto&amp;tl=en&amp;text={query}&amp;op=translate</string>
		</dict>
		<key>36804B33-CC5B-40B6-96D1-6FBF54B00B15</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tec</string>
			<key>text</key>
			<string>Translate "{query}" from English to Chinese</string>
			<key>url</key>
			<string>https://translate.google.com/?sl=en&amp;tl=zh-CN&amp;text={query}&amp;op=translate</string>
		</dict>
		<key>3E1BD363-D569-436F-8208-021675A7C26A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bili</string>
			<key>text</key>
			<string>在哔哩哔哩搜索“{query}”</string>
			<key>url</key>
			<string>https://search.bilibili.com/all?keyword={query}</string>
		</dict>
		<key>4AC87363-F79F-40BE-91F0-1D9A69403C0D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>github</string>
			<key>url</key>
			<string>https://github.com/</string>
		</dict>
		<key>76BDE572-8B54-4F95-924F-4D2BD10D11C0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zh</string>
			<key>text</key>
			<string>在知乎搜索“{query}”</string>
			<key>url</key>
			<string>https%3A%2F%2Fwww.zhihu.com%2Fsearch%3Ftype%3Dcontent%26q%3D{query}</string>
		</dict>
		<key>8AC1EF29-875D-4A81-BD51-138F7AB4B6C3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>使用百度搜索“{query}”</string>
			<key>url</key>
			<string>http://www.baidu.com/s?wd={query}</string>
		</dict>
		<key>9BB423B9-E9E4-4277-83AC-EDB175F4EA0F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>text</key>
			<string>在淘宝搜索“{query}”</string>
			<key>url</key>
			<string>https%3A%2F%2Fs.taobao.com%2Fsearch%3Fq%3D{query}</string>
		</dict>
		<key>C41384AF-02D4-4D97-B0C1-EE33C08DEEAC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zimu</string>
			<key>text</key>
			<string>字幕库搜索"{query}"</string>
			<key>url</key>
			<string>https://so.zimuku.org/search?q={query}&amp;chost=zmk.pw</string>
		</dict>
		<key>D1715222-7C58-408C-8BE1-45C79E199B39</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>t</string>
			<key>text</key>
			<string>Translate "{query}" from Auto to Chinese</string>
			<key>url</key>
			<string>https://translate.google.com/?sl=auto&amp;tl=zh-CN&amp;text={query}&amp;op=translate</string>
		</dict>
		<key>D5373DA6-B9BC-48DA-A85C-207905B2B673</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>chat</string>
			<key>text</key>
			<string>ChatGPT</string>
			<key>url</key>
			<string>https://chat.wuguokai.cn/</string>
		</dict>
		<key>E1BBAE37-40C2-45B1-8255-1A1568008483</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>t</string>
			<key>text</key>
			<string>Translate "{query}" from Auto to French</string>
			<key>url</key>
			<string>https://translate.google.com/?sl=auto&amp;tl=fr&amp;text={query}&amp;op=translate</string>
		</dict>
		<key>EEBDA64B-D12B-4A7D-85F7-273AB9956A51</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cs</string>
			<key>text</key>
			<string>使用CSDN搜索“{query}”</string>
			<key>url</key>
			<string>https%3A%2F%2Fso.csdn.net%2Fso%2Fsearch%2Fall%3Fq%3D{query}%26t%3Dall%26p%3D1%26s%3D0%26tm%3D0%26lv%3D-1%26ft%3D0%26l%3D%26u%3D</string>
		</dict>
		<key>F7CD72DE-5A66-433E-ADFC-13903560A4D8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>icon</string>
			<key>text</key>
			<string>Search Iconfont for '{query}'</string>
			<key>url</key>
			<string>https://www.iconfont.cn/search/index?searchType=icon&amp;q={query}</string>
		</dict>
		<key>FFD59A79-AA21-4CC7-9D68-91642FA13E81</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tce</string>
			<key>text</key>
			<string>Translate "{query}" from Chinese to English</string>
			<key>url</key>
			<string>https://translate.google.com/?sl=zh-CN&amp;tl=en&amp;text={query}&amp;op=translate</string>
		</dict>
	</dict>
</dict>
</plist>
